.small-black-tag {
  position: absolute;
  background-color: black;
  text-align: center;
  color: white;
  border-radius: 3px;
  padding: 7px 7px;
  left: -30px;
  bottom: 40px;
  white-space: nowrap;
  font-size: 12px;
}

.revealer {
  position: relative;
}
.hidden {
  display: none;
}

.show-hidden {
  display: inline-block;
  position: absolute;
}

#channel-index {
  background-color: #2f3136;
  color: #8e9297;
  min-width: 240px;
  max-height: 949px;
  height: auto;
  #channel-top {
    width: 100%;
    height: 5%;
    border-bottom: 1px solid rgba(0,0,0,.3);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    h1 {
      color: white;
    }
    img {
      filter: brightness(80%);
      width: 10px;
      height: 10px;
    }
  }
  button#channel-top:hover {
    background-color: rgba(0,0,0,.1);
  }  
  
  #channel-box {
    height: 89%;
    
    .sticky-box {
      margin-bottom: 20px;
      box-sizing: border-box;
      background-color: #282b30;
      position: sticky;
      z-index: 2;
      top: 0px;
      height: 190px;
      border-bottom: 1px solid rgba(0,0,0,.3); // TODO: remove later
      padding: 5px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      font-size: 12px;
      #party-members, #quick-switcher-picture {  
        background-position: center;
        background-repeat: no-repeat;
        height: 90px;
        width: 170px;
        margin: 0 auto;
      }
      #party-members {
        background-image: image-url("adventure_begins");
      }
      #quick-switcher-picture {
        background-image: image-url("switcher_picture");
      }
      p {
        text-align: center;
      }
      button {
        background-color: #36393f;
        color: white;
        padding: 7px 60px;
      }
    }
    #channel-list {
      margin-right: 12px;
      font-size: 12px;
      padding-left: 5px;
      
      #category-label {
        margin-bottom: 10px;
        margin-left: 5px;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
      }
      a {
        display: flex;
        align-items: center;
        width: 100%;
      }
      a:hover {
        color: white;
      }
      
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        padding-left: 10px;
        border-radius: 3px;
      }
      li:hover {
        background-color: rgba(0,0,0,.1);
      }
      .channel-options {
        right: 10px;
        position: absolute;
        i {
          position: relative;
        }
        i:hover {
          cursor: pointer;
        }
        i:last-of-type {
          margin-left: 5px;
        }

        i:first-of-type p.small-black-tag {
          margin-left: -10px;
        }
      // TODO fix label centering
      }
      .small-black-tag {
        position: absolute;
        bottom: 20px;
        right: 24px;
        width: max-content;
        z-index: 3;
      }

      
      .active-channel {
        background-color: #46484d;
        color: white;
      }
      .active-channel a {
        cursor: auto;
      }
      .active-channel:hover {
        background-color: #46484d;
      }
      .hash {
        font-size: 24px;
        color: rgba(255,255,255,.3);
      }
    }
  }

  #user-bar {
    background-color: rgba(32,34,37,.3);
    height: 5.75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      margin-right: 10px;
      padding: 3px;
      i {
        color: lightgray;
        width: 25px;
        text-align: center;
        margin: 5px auto;
      }
      
    }
    button:hover {
      background-color: rgba(0,0,0,.3);
    }
    
    img {
      border-radius: 50%;
      margin-left: 12px;
      margin-right: 10px;
      width: 32px;
      height: 32px;
    }
    div {
      width: 150px;
      p:first-of-type {
        color: white;
        font-size: 12px;
      }
      p:last-of-type {
        font-size: 10px;
      }
    }
    
  }
}


