#server-index-container {
  min-width: 70px;
  overflow: hidden;
}

#server-index {
  background-color: #202225;
  width: 90px;
  height: 949px;
  li {
    border-radius: 50%;
    margin: 10px auto;
    margin-right: 25px;
    width: 50px;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #282b30;
    img, .image-missing {   
      border-radius: 35%;
      height: 50px;
      width: 50px;
    }
    .image-missing {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .image-missing:hover {
      color: white;
    }
    p {
      display: none;
      background-color: black;
      color: white;
      position: absolute;
      left: 70px;
      height: 20px;
      padding: 7px;
      font-size: 14px;
      border-radius: 3px;
      z-index: 3;
    }
  }
  li:hover {
    background-color:#7289da;
  }
  li:hover::before {
    content: "";
    position: absolute;
    left: -12px;
    height: 20px;
    width: 15px;
    display: inline-block;
    border-radius: 15px;
    background-color: white;
  }
  li:first-of-type {
    img {
      background-color: transparent;
      position: relative;
      margin: 5px auto;
      width: 40px;
      height: 40px; 
    }
  }
  li:last-of-type {
    background-color:#292b2f;
    span {
      font-size: 36px;
      color: #43b581;
    }
  }
  li:last-of-type:hover {
    background-color: #43b581;
    cursor: pointer;
    span {
      color: white;
    }
  }

  @keyframes expand {
    0% { border-radius: default; }
    100% { border-radius: 35% }
  }

  .animate-hover:hover {
    animation-name: expand;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  .active-server {
    border-radius: 35%;
    background-color: #7289da;
    color: white;
  }

  .active-server:before {
    content: "";
    position: absolute;
    left: -12px;
    height: 45px;
    width: 15px;
    display: inline-block;
    border-radius: 15px;
    background-color: white;
  }

  .show-name {
    display: inline-block;
    
  }
  
}
