/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 @import "./reset.scss"; 
 
 body {
   font-family: Whitney,'Open Sans',Helvetica Neue,Helvetica,Arial,sans-serif;
   color: #8e9297;
 }

 .scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
 }

 .scrollable::-webkit-scrollbar {
   width: 5px;
 }

 .scrollable::-webkit-scrollbar-thumb {
  background-color: #202225;
  border-radius: 10px;
 }

 .transparent-background {
   position: absolute;
   background-color: rgba(0,0,0,.7);
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items  : center;
   z-index: 5;
 }

 form {
   input {
    box-sizing:border-box;
    border-radius: 3px;
    padding: 10px;
   }
   label {
    font-weight: 700;
    span {
      font-size: 12px;
      font-style: italic;
      font-weight: 400;
    }
  }
 }

.form-type-1 {   
  input, select, textarea {
    color: white;
    background-color: rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 3px;
    resize: none;
  }
  input:hover, select:hover {
    border: 1px solid black;
  }
  input:focus {
    border: 1px solid #7289da;
  }
  input.red-border {
    border: 1px solid red;
  }
}

.photo {
  position: relative;
  box-sizing: border-box;
  background-color: gray;
  background-size: cover;
  background-position: center;
  min-width: 99px;
  height: 99px;
  border-radius: 50%;
  margin-right: 20px;
  #change-photo {
    display: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    color: white;
    font-size: 10px;
    font-weight: 700;
    text-align: center;

  }
  #change-photo.show {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .photo-icon {
    position: absolute;
    background-image: url(https://discordapp.com/assets/d5c25e76af04cea8997e4a060572feae.svg);
    background-color: rgb(214, 211, 211);
    background-repeat: no-repeat;
    background-position: 4px;
    top: 0px;
    right: 0px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
  }
}

button {
  border-radius: 3px;
  text-align: center;
  
}

 @import "./dropdowns/server_dropdown.scss";

 @import "./main_containers/channel_index.scss";
 @import "./main_containers/channel_show.scss";
 @import "./main_containers/server_index.scss";
 
 @import "./overlay_portion/small_dark_box.scss";
 @import "./overlay_portion/add_server.scss";
 @import "./overlay_portion/invite_box.scss";
 @import "./overlay_portion//change_nickname.scss";

 @import "./pages/splash_page.scss";
 @import "./pages/login_page.scss";
 @import "./pages/main_page.scss";
 @import "./pages/invite_page.scss";
 
 @import "./settings_server/table.scss";
 @import "./settings_server/invite_list.scss";
 @import "./settings_server/members_list.scss";
 @import "./settings_server/server_overview.scss";

 @import "./settings_channel/channel_overview.scss";

 @import "./settings_user/user_settings.scss";

 @import "./settings_fullscreen.scss";


 



