#server-overview {
  display:flex;
  justify-content: space-between;
  img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.3);
  }
  label {
    font-size: 12px;
    width: 325px;
    color: rgba(255,255,255,.5);
  }
  input {
    margin-top: 10px;
    width: 325px;
    padding: 10px;
  }
}