#splash-page {
  background-color: #2b292f;
  nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 17px 110px;

    #header-left {
      display: flex;
      align-items: center;
      img:first-of-type {
        border: 0;
        width: 47px;
        height: 42px;
      }

      img:last-of-type {
        margin-left: 1px;
        width: 90px;
        height: 17px;
      }
    }

    #header-middle {
      display:flex;
      padding-left: 15px;
      width: 75%;
      font-size: 14px;
      button {
        border: none;
        background-color: inherit;
        color: lightgray;
        margin: 0 10px;
      }
    }

    #header-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 83px;    
      color: lightgray;
      text-align: center;
      i {
        margin-right: 18px;
        font-size: 18px;
        font-weight: 700;
      }
      a {
        border: 2px solid lightgray;
        border-radius: 20px;
        padding: 4px 10px;
        padding-top: 6px;
        height: 18px;
        width: 45px;
        font-size: 14px;
      }
      a:hover {
        color: white;
        border-color: white;
      }
    }

  }

  #splash-about {
    position: absolute;
    top: 15%;
    left: 33%;
    margin: 0 auto;
    h1 {
      color: white;
      font-size: 36px;
      font-weight: 700px;
      text-align: center;
    }
    p {
      margin-top: 25px;
      color: gray;
      text-align: center;
    }
    [id*="center-"] {
      position: relative;
      background-color: #7289da;
      color: white;
      top: 30px;
      left: 31.5%;
      padding: 15px 75px;
      border: 0;
      font-size: 16px;
    }
    #center-button {
      top: 40px;
      font-family: inherit;
      font-size: 14px;
    }

  }

  #splash-graphic {
    position: relative;
    width: 72%;
    height: 800px;
    @keyframes float {
      0% { transform: translate3d(0,-5px,0); }
      100% { transform: translate3d(0,5px,0); }
    }
    img[id="splash-disk"] {
      position: absolute;
      width: 95px;
      height: 95px;
      top: 397px;
      right: 60px;
    }
    img[id="splash-image"] {
      position: absolute;
      display: block;
      top: 243px;
      left: 263px;
    }

    .animate-float {
      animation-name: float;
      animation-delay: .5s;
      animation-duration: 1.5s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
    }
    
    img[id*="splash-coin"] {
      position: absolute;
      width: 80px;
      height: 80x;
    }
    
    img[id="splash-coin-1"] {
      top: 270px;
      right: 245px;
      
    }
    img[id="splash-bomb"] {
      position: absolute;
      z-index: 2;
      width: 92px;
      height: 82px;
      top: 470px;
      left: 438px;
      animation-delay: s;
    }
    img[id="splash-coin-2"] {
      z-index: 3;
      top: 500px;
      left: 490px;
    }

    
    
  }

  hr {
    border: 1px solid 	rgba(211,211,211, .05);
    width: 83%;
  }

  #splash-info {
    width: 83%;
    margin: 30px auto;
    margin-top: 125px;
    display: flex;
    justify-content: space-between;
    img {
      border: 0;
      width: 35px;
      height: 35px;
    }
    div {
      h3 {
        color: white;
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 400;
      }
      
      span,a {
        color: gray;
        display:block;
      }
      a:hover {
        color: white;
        cursor: pointer;
      }

      
    }
    

  }


  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px;
    padding-bottom: 44px;

    div {
      width: 500px;
      h2 {
        color: white;
        font-weight: 400;
        font-size: 28px;
        margin-bottom: 5px;
      }
      p {
        margin-top: 0px;
        color: lightgray;
        font-size: 14px;
      }
    }
    a {
      background-color: #7289da;
      color: white;
      padding: 15px 15px;
      border: 0;
      font-size: 16px;
      font-family: inherit;
      height: 15px;
    }

  }
}

