#splash-page {
  background-color: #2b292f;
  nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 15px 110px;

    #header-left {
      display: flex;
      align-items: center;
      img:first-of-type {
        border: 0;
        width: 47px;
        height: 42px;
      }

      img:last-of-type {
        margin-left: 1px;
        width: 90px;
        height: 17px;
      }
    }

    #header-middle {
      display:flex;
      align-items: center;
      padding-left: 15px;
      width: 75%;
      font-size: 12px;
      button, span {
        border: none;
        background-color: inherit;
        color: lightgray;
        margin: 0 10px;
      }
      img {
        width: 7px;
        height: 6px;
        filter: brightness(80%);
        display: inline-block;
      }
      button:hover {
        color: white;
      }
      .about-me {
        display: none;
        position: absolute;
        top: 30px;
        left: 360px;
        z-index: 4;
        ul {
          position: relative;
          top: 30px;
          width: 120px;
          padding: 5px;
          background-color: white;
          border-radius: 3px;
          color: gray;
          li {
            padding: 2px 3px;
            border-radius: 3px;
          }
          li:hover {
            background-color: rgba(0,0,0,.05);
          }

        }
      }
      .show {
        display: inline-block;
      }
    }

    #header-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 81px;    
      color: lightgray;
      text-align: center;
      i {
        margin-right: 18px;
        font-size: 18px;
        font-weight: 700;
      }
      a:last-of-type {
        border: 2px solid lightgray;
        border-radius: 20px;
        padding: 6px 10px;
        padding-top: 4px;
        height: 18px;
        width: 45px;
        font-size: 13px;
      }
      a:hover {
        color: white;
        border-color: white;
      }
    }
  }

  #splash-about {
    position: absolute;
    top: 15%;
    // left: 32.25%;
    width: 80%;
    margin: 0 10%;
    z-index: 2;
    h1 {
      color: white;
      font-size: 32px;
      font-weight: 700;
      text-align: center;
    }
    p {
      margin-top: 15px;
      color: gray;
      text-align: center;
      line-height: 24px;
    }
    div {
      margin: 30px auto;
      width: 530px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .center {
        position: relative;
        background-color: #7289da;
        color: white;       
        padding: 13px 50px;
        width: 145px;
        border: 0;
        border-radius: 3px;
        font-size: 14px;
        text-align: center;
      }
      .center:hover {
        top: 2px;
      }
      .left {
        background-color: white;
        color: black; 
      }
      .button {
        font-family: inherit;
      }
    }    
  }

  #splash-graphic {
    position: relative;
    max-width: 1325px;
    height: 800px;
    margin: 0 auto;
    @keyframes float {
      0% { transform: translate3d(0,-5px,0); }
      100% { transform: translate3d(0,5px,0); }
    }
    .animate-float {
      animation-name: float;
      animation-delay: .5s;
      animation-duration: 1.5s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
    }
    img[id="splash-disk"] {
      position: absolute;
      width: 95px;
      height: 95px;
      top: 50%;
      right: 24.5%;
    }
    img[id="splash-image"] {
      position: absolute;
      display: block;
      top: 243px;
    }    
    img[id*="splash-coin"] {
      position: absolute;
      width: 80px;
      height: 80x;
    }
    img[id="splash-coin-1"] {
      top: 34%;
      right: 38%;     
    }
    img[id="splash-bomb"] {
      position: absolute;
      z-index: 2;
      width: 92px;
      height: 82px;
      top: 58%;
      left: 14%;
      animation-delay: 1.4s;
    }
    img[id="splash-coin-2"] {
      z-index: 3;
      top: 63%;
      left: 18%;
    } 
  }

  hr {
    border: 1px solid 	rgba(211,211,211, .05);
    width: 83%;
  }

  #splash-info {
    width: 83%;
    margin: 30px auto;
    margin-top: 225px;
    display: flex;
    justify-content: space-between;
    img {
      border: 0;
      margin-top: 11px;
      width: 35px;
      height: 35px;
    }
    div {
      h3 {
        color: white;
        margin-bottom: 15px;
        font-size: 12px;
        font-weight: 400;
      }
      span,a {
        color: gray;
        display:block;
        font-size: 12px;
      }
      a:hover {
        color: white;
        cursor: pointer;
      }    
    }
  }


  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px;
    padding-bottom: 44px;

    div {
      width: 500px;
      h2 {
        color: white;
        font-weight: 400;
        font-size: 25px;
        margin-bottom: 5px;
      }
      p {
        margin-top: 0px;
        color: lightgray;
        font-size: 14px;
      }
    }
    a {
      background-color: #7289da;
      color: white;
      padding: 17px 17px;
      padding-top: 13px;
      border: 0;
      font-size: 14px;
      font-family: inherit;
      border-radius: 3px;
      height: 15px;
    }
    a:hover {
      position: relative;
      bottom: 1px;
    }

  }
}

