#update-user-form {
  border: 1px solid rgba(0,0,0,.3);
  border-radius: 7px;

  #show-user-info {
    background-color: rgba(0,0,0,.2);
    padding: 20px 23px;
    position: relative;
    display: flex;
    h2 {
      font-size: 12px;
      color: rgba(255,255,255,.4);
      font-weight: 700;
    }
    #show-user-info-center {
      span {
        color: rgba(255,255,255,.7);
        font-size: 14px;
      }
      div:first-of-type {
        margin-bottom: 15px;
        span:last-of-type {
          color: rgba(255,255,255,.4);
        }
      }
    }
    button {
      position: absolute;
      background-color: #7289da;
      color: white;
      width: 60px;
      height: 30px;
      border-radius: 3px;
      text-align: center;
      font-size: 12px;
      right: 20px;
      top: 20px;
    }
    button:hover {
      background-color: #667bc5;
    }
  }

  form {
    background-color: rgba(0,0,0,.1);
    padding: 20px 23px;
    padding-bottom: 0px;
    font-size: 14px;
    label {
      font-size: 12px;
    }
    div:first-of-type {
      display:flex;
      button {
        color: white;
        font-size: 12px;
      }
      button:hover {
        text-decoration: underline;
      }

    }
    input {
      width: 100%;
      height: 40px;
      margin-top: 7px;
      margin-bottom: 15px
    }

    input[type="submit"] {
      box-sizing: border-box;
      background-color: #43b581;
      border: 1px solid rgba(0,0,0,.1);
      width: 60px;
      height: 30px;
      margin: 0px;
      padding: 0px;
      text-align: center;
    }
    input[type="submit"]:hover {
      background-color: #3ba174;
    }
    .red-text {
      color: red;
    }
  }
    
  form > div:last-of-type {
    border-top: 1px solid rgba(255,255,255,.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    margin-top: 20px;
  }
  form > div:last-of-type > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
  }
  form > div > button {
    border-radius: 3px;
    border: 1px solid darkred;
    padding: 5px 10px;
    color: red;
    height: 30px;
    font-size: 12px;
  }
  form > div > button:hover {
    border: 1px solid rgb(199, 1, 1);
  }
}